n8n_workflow_updated.json
{
  "name": "Chatbot Juridico MX - Demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-juridico",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://5410m0n0c001.github.io"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        240
      ],
      "id": "webhook-node",
      "name": "Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-token",
              "leftValue": "={{ $('Webhook').first().json.body.token }}",
              "rightValue": "AbogadaMarilo2026!",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        240
      ],
      "id": "if-token-node",
      "name": "Verify Token"
    },
    {
      "parameters": {
        "responseCode": 401,
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Unauthorized: Invalid or missing token in body\"\n}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        380,
        60
      ],
      "id": "respond-unauthorized-node",
      "name": "Webhook Response - 401"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://btkgrkkxfdicsyrknabk.supabase.co/rest/v1/chat_sessions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "=eq.{{ $('Webhook').first().json.body.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        240
      ],
      "id": "supabase-select-session",
      "name": "Supabase - Get Session",
      "credentials": {
        "supabaseApi": {
          "id": "UTFbESgKlUq4uy1e"
        }
      },
      "alwaysOutputData": true,
      "settings": {
        "errorRetryCount": 3,
        "errorRetryInterval": 1000
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nlet exists = false;\nlet question_count = 0;\nlet session_id = \"\";\n\nif (items.length > 0 && items[0].json && items[0].json.session_id) {\n  exists = true;\n  question_count = items[0].json.question_count;\n  session_id = items[0].json.session_id;\n} else {\n  // Use session_id from initial webhook body wrapper\n  session_id = $('Webhook').first().json.body.session_id;\n}\n\nreturn [{\n  json: {\n    exists: exists,\n    session_id: session_id,\n    question_count: question_count\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        240
      ],
      "id": "get-or-create-session",
      "name": "Get or Create Session"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "session-exists",
              "leftValue": "={{ $json.exists }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        240
      ],
      "id": "if-session-exists-node",
      "name": "If - Session Exists"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://btkgrkkxfdicsyrknabk.supabase.co/rest/v1/chat_sessions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"question_count\": 0\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        100
      ],
      "id": "supabase-insert-session",
      "name": "Supabase - Create Session",
      "credentials": {
        "supabaseApi": {
          "id": "UTFbESgKlUq4uy1e"
        }
      },
      "settings": {
        "errorRetryCount": 3,
        "errorRetryInterval": 1000
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-count",
              "leftValue": "={{ Number($json.question_count) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt",
                "name": "filter.operator.lessThan"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        240
      ],
      "id": "if-count-less-than-3",
      "name": "If - Q Count < 3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v1/embed",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "cohereApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"embed-multilingual-v3.0\",\n  \"texts\": [ \"{{ $('Webhook').first().json.body.message.replace(/\\n/g, ' ').replace(/\"/g, '\\\\\"') }}\" ],\n  \"input_type\": \"search_query\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1560,
        150
      ],
      "id": "cohere-embed",
      "name": "Cohere - Embed Query",
      "credentials": {
        "cohereApi": {
          "id": "iMK4nOrQ7XXtruZu"
        }
      },
      "settings": {
        "errorRetryCount": 3,
        "errorRetryInterval": 1000
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://btkgrkkxfdicsyrknabk.supabase.co/rest/v1/rpc/match_legal_chunks",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query_embedding\": {{ JSON.stringify($json.embeddings[0]) }},\n  \"match_threshold\": 0.0,\n  \"match_count\": 10\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1780,
        150
      ],
      "id": "supabase-rpc-match",
      "name": "Supabase - RPC match",
      "credentials": {
        "supabaseApi": {
          "id": "UTFbESgKlUq4uy1e"
        }
      },
      "settings": {
        "errorRetryCount": 3,
        "errorRetryInterval": 1000
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v1/rerank",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "cohereApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"rerank-v3.5\",\n  \"query\": \"{{ $('Webhook').first().json.body.message.replace(/\\n/g, ' ').replace(/\"/g, '\\\\\"') }}\",\n  \"documents\": {{ JSON.stringify($('Supabase - RPC match').all().map(item => item.json.content)) }},\n  \"top_n\": 3,\n  \"return_documents\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        150
      ],
      "id": "cohere-rerank",
      "name": "Cohere - Rerank",
      "credentials": {
        "cohereApi": {
          "id": "iMK4nOrQ7XXtruZu"
        }
      },
      "settings": {
        "executeOnce": true,
        "errorRetryCount": 3,
        "errorRetryInterval": 1000
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { documents: $('Cohere - Rerank').first().json.results.map(r => ({ text: r.document.text })) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2170,
        30
      ],
      "id": "format-docs-node",
      "name": "Format Docs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cohere.com/v1/chat",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "cohereApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"command-a-03-2025\",\n  \"message\": \"{{ $('Webhook').first().json.body.message.replace(/\\n/g, ' ').replace(/\"/g, '\\\\\"') }}\",\n  \"preamble\": \"Eres un asistente informativo especializado en derecho mexicano (marco jurídico de México) integrado en el sitio web de la abogada mariló. Tu objetivo es proporcionar información orientativa general basándote ÚNICAMENTE en el corpus provisto. Recuerda que no brindas asesoría jurídica personalizada.\\n\\nSigue estas reglas estrictas:\\n1) Limita tus respuestas a información general sobre los temas cubiertos por el corpus cargado (Constitución Arts. 1, 4, 14, 16, 123; Código Civil Federal Contratos; Ley Federal del Trabajo Terminación de relaciones).\\n2) Si la pregunta requiere asesoría personalizada o cae fuera de ese alcance, dilo explícitamente e invita a agendar una consulta.\\n3) Basa tu respuesta SOLO en los fragmentos recuperados. No alucines.\\n4) Agrega siempre al final de tu respuesta el disclaimer: \\\"\\\\n\\\\n*Esta información es de carácter general y orientativo, y no constituye asesoría jurídica personalizada.*\\\"\",\n  \"documents\": {{ JSON.stringify($json.documents) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2320,
        150
      ],
      "id": "cohere-chat",
      "name": "Cohere - Chat",
      "credentials": {
        "cohereApi": {
          "id": "iMK4nOrQ7XXtruZu"
        }
      },
      "settings": {
        "errorRetryCount": 3,
        "errorRetryInterval": 1000
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://btkgrkkxfdicsyrknabk.supabase.co/rest/v1/chat_sessions?session_id=eq.' + $('Webhook').first().json.body.session_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"question_count\": {{ ($('If - Q Count < 3').first().json.question_count ?? 0) + 1 }},\n  \"last_message_at\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2540,
        150
      ],
      "id": "supabase-update-count",
      "name": "Supabase - Increment Count",
      "credentials": {
        "supabaseApi": {
          "id": "UTFbESgKlUq4uy1e"
        }
      },
      "alwaysOutputData": true,
      "settings": {
        "errorRetryCount": 3,
        "errorRetryInterval": 1000
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst responseText = $('Cohere - Chat').first().json.text;\nconst qCount = $('If - Q Count < 3').first().json.question_count || 0;\n\nreturn [{\n  json: {\n    response: responseText,\n    question_count: qCount + 1,\n    remaining: 2 - qCount,\n    redirect_to_whatsapp: false\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2760,
        150
      ],
      "id": "prepare-success-response",
      "name": "Prepare Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2980,
        150
      ],
      "id": "webhook-response-success",
      "name": "Webhook Response - Answer"
    },
    {
      "parameters": {
        "jsCode": "\nconst qCount = $json.question_count || 0;\n\nreturn [{\n  json: {\n    response: \"Has alcanzado el límite de 3 consultas gratuitas de demostración. Para continuar con una asesoría personal de pago por videollamada, puedes contactarnos directamente por WhatsApp.\",\n    question_count: qCount,\n    remaining: 0,\n    redirect_to_whatsapp: true,\n    whatsapp_url: \"https://wa.me/5217771035134?text=Hola,%20solicito%20asesor%C3%ADa%20legal%20personalizada\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        380
      ],
      "id": "prepare-redirect-response",
      "name": "Prepare Redirect Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1840,
        380
      ],
      "id": "webhook-response-redirect",
      "name": "Webhook Response - Redirect"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token": {
      "main": [
        [
          {
            "node": "Supabase - Get Session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response - 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Session": {
      "main": [
        [
          {
            "node": "Get or Create Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get or Create Session": {
      "main": [
        [
          {
            "node": "If - Session Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Session Exists": {
      "main": [
        [
          {
            "node": "If - Q Count < 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase - Create Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Create Session": {
      "main": [
        [
          {
            "node": "If - Q Count < 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If - Q Count < 3": {
      "main": [
        [
          {
            "node": "Cohere - Embed Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Redirect Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Redirect Response": {
      "main": [
        [
          {
            "node": "Webhook Response - Redirect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere - Embed Query": {
      "main": [
        [
          {
            "node": "Supabase - RPC match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - RPC match": {
      "main": [
        [
          {
            "node": "Cohere - Rerank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere - Rerank": {
      "main": [
        [
          {
            "node": "Format Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Docs": {
      "main": [
        [
          {
            "node": "Cohere - Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere - Chat": {
      "main": [
        [
          {
            "node": "Supabase - Increment Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Increment Count": {
      "main": [
        [
          {
            "node": "Prepare Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success Response": {
      "main": [
        [
          {
            "node": "Webhook Response - Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response - Answer": {
      "main": []
    }
  }
}